@import 'variables';
@import 'breakpoints';

::selection {
  background: lighten($successButtonColor, 18%);
}
::-moz-selection {
  background: lighten($successButtonColor, 18%);
}

body,html {
  margin: 0;
  padding: 0;
}

@mixin fontbase {
  font-family: 'Open Sans', sans-serif;
}

h1, .title-1 {
  @include fontbase;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
  color: $textColor;
  text-align: center;
  letter-spacing: .5px;
}

.title-1 {
  text-align: left;
}

h2 {
  @include fontbase;
  font-size: 24px;
  font-weight: 300;
  color: $textColor;
  text-align: center;
  letter-spacing: .5px;
}

h3 {
  @include fontbase;
  font-size: 24px;
  color: $textColor;
  font-weight: 600;
  text-align: left;
  letter-spacing: .5px;
}

p {
  @include fontbase;
  font-size: 15px;
  font-weight: 300;
  color: $textColor;
  letter-spacing: .25px;
  line-height: 30px;
}


/* BODY */

.hero {
	width: 100%;
	height: auto;
	background-color: $steelBlue;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input[type=text] {
    width: 90%;
    display: block;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0px solid black;
    margin: 0 auto;
}

.success-button, .signUpButton {
  border: 0px solid;
  box-shadow: 0px -5px 0px -5px $darkblue;
  background-color: $successButtonColor;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 15px 0px;
  text-decoration: none;
  margin: 0 auto;
  transition-duration: 0.3s;
  &:hover {
    background-color: $successButtonHoverColor;  
  }
}

.signUpButton {
  display: inline-block;
  width: 90%;
  @include breakpoint(small) {
    margin: 0 5%;
  }
}

.hero-image-container {
  position: relative;
  height: 448px;
  .hero-image {
    position: absolute;
    right: 0;
  }
  @include breakpoint(small) {
    height: auto;
    margin-top: 15px;
    .hero-image {
      position: relative;
      width: 100%;
    }
  }
}

.features {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.image-half-col {
  width: 100%;
  max-width: 410px;
  height: auto;
}

.laptop {
  content: url("/assets/laptop.png");
  width: 70%; 
  display: block; 
  margin: 0 auto; 
  max-width: 300px;
}

.earth {
  content: url("/assets/earth.png");
  width: 70%; 
  display: block; 
  margin: 0 auto;
  max-width: 300px; 
}

.router {
  content: url("/assets/router.png");
  width: 70%; 
  display: block; 
  margin: 0 auto; 
  max-width: 300px;
}

.l-box {
  padding: 1em;
}

.center-text-sm {
  @include breakpoint(small) {
    text-align: center;
  }
}

.footer {
  width: 100%;
  background: $blue; /* For browsers that do not support gradients */
  background: linear-gradient($blue, $lightblue); /* Standard syntax */
  padding-top: 135px;
  padding-bottom: 25px;
}

/* Small screens */
@media screen and (max-width: 768px)	{

	h1 {
	  font-family: 'Open Sans', sans-serif;
	  font-size: 30px;
	  font-weight: 600;
	  margin-bottom: 0;
	  color: white;
	  text-align: center;
	}	

	h2 {
	  font-family: 'Open Sans', sans-serif;
	  font-size: 22px;
	  font-weight: 300;
	  margin-bottom: 0;
	  color: white;
	  text-align: center;
	}

  .features {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  /* ADD MOBILE SCREEN */ 
  .mockup {
    content: url("/assets/mockup.png");
    width: 60%; 
    display: block; 
    margin: 0 auto; 
    margin-bottom: 0px; 
    margin-top: 40px;
  }

	.mobileWidth {
		width: 90%;
		display: block;
		margin: 0 auto;
	}
}


/* Stack Order */
@media only screen and (min-width: 768px) {
  #filler1{
    order: 1;
  }

  #blue {
    order: 2;
  }

  #red {
    order: 3;
  }

  #filler2{
    order: 4;
  }

}

.hidden {
  display: none;
}

.clipboard-button {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

form {
  h2 {
    font-size: 22px;
  }

  .msg-container {
    margin-top: 16px;
    @include breakpoint(mediumAndAbove) {
      margin-bottom: -100px;
    }
  }
  p {
    color: $textColor;
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;
  }

  .referral-box {
    width: calc(90% - 40px);
    padding-right: 40px;
    max-width: 370px;
    position: relative;
    margin: 0 auto;
    input {
      width: 100%;
      box-sizing: border-box;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 40px;
      color: $textColor;
    }
    .clipboard-btn {
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      background-color: lighten(gray, 40%);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      height: 40px;
      width: 40px;
      &:active, &:hover {
        background-color: lighten(gray, 35%);
      }
      img {
        margin-top: 3px;
        margin-left: 3px;
        width: 18px;
      }
    }
  }

  .social-media-links {
    text-align: center;
    margin: 30px 0 10px;
    img {
      width: 40px;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
}

.spacer-line {
  margin-top: 30px;
}

.spacer-div {
  @include breakpoint(small) {
    height: 30px;
  }
  opacity: 0;
  height: 150px; 
  display: block; 
}
