<!-- Navigation -->
<div class="topbar large-screens hidden-small-screens">
  <div class="logo-container va-container va-container-h">
    <a href="/">
      <img class="topbar-logo va-middle" src="/assets/logo_blue.svg" />
      <img class="topbar-logo va-middle inverse" src="/assets/logo_white.svg" />
      <div class="topbar-name va-middle">source</div>
    </a>
    <nav role="navigation">
      <ul>
        <li class="<%= active === 'technology' ? 'active' : '' %>"><a href="/technology">Technology</a></li>
        <li class="<%= active === 'become-a-provider' ? 'active' : '' %>"><a href="/become-a-provider">Become a provider</a></li>
        <li class="success-button"><a href="/#sign-up">Download</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="topbar small-screens hidden-large-screens">
  <div class="logo-container va-container va-container-h">
    <a href="/">
      <img class="topbar-logo va-middle" src="/assets/logo_blue.svg" />
      <img class="topbar-logo va-middle inverse" src="/assets/logo_white.svg" />
      <div class="topbar-name va-middle">source</div>
    </a>
    <div class="hamburger">
      <div id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <nav class="mobile-nav" role="navigation">
    <ul>
      <li><a href="/technology">Technology</a></li>
      <li><a href="/become-a-provider">Become a provider</a></li>
      <li class="success-button"><a href="/#sign-up">Download</a></li>
    </ul>
  </nav>
</div>
