<!DOCTYPE html>
<html lang="en">
	<head profile="http://www.sourcewifi.com/">

		<%- include('partials/ogTags', { url: 'http://sourcewifi.com' }) %>
	
		<!-- Script Tag for Optimizely.com (A/B) testing -->
		<script src="https://cdn.optimizely.com/js/8171741790.js"></script>

		<!-- FAVICON -->
		<link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32" />

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="css/lib/pure-min.css">
		<link rel="stylesheet" href="css/lib/pure-grids-responsive-min.css">
		<link rel="stylesheet" href="css/lib/html5tooltips.css">
		<link rel="stylesheet" href="css/lib/html5tooltips.animation.css">

		<!-- Open Sans FONT-->
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">

    	<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/css/build/styles.css">
		<link rel="stylesheet" type="text/css" href="/css/build/navbar.css">
		<link rel="stylesheet" type="text/css" href="/css/build/footer.css">

		<%- include('partials/googleAnalytics') %>

		<title>Source - Redefining WiFi</title>

</head>

<body>
	<%- include('partials/navbar', { active: 'none' }) %>
	<section class="hero">
		<div class="mobileWidth">
			<h1 style="margin-top:100px"> Connect anywhere. </h1>
			<h2 style="margin-top: 20px;"> Share the world’s wifi network. </h2>
		</div>
		<form class="sign-up-form">
			<div class="pure-g" style="margin-top: 40px;">
				<div class="pure-u-1 pure-u-md-6-24"></div>
					<div class="pure-u-1 pure-u-md-7-24">
							<input type="text" name="reservation[email]" class="email-input" placeholder="name@email.com"><br>
					</div>
					<div class="pure-u-1 pure-u-md-5-24">
							<input type="submit" class="signUpButton" value="Sign up for beta">
					</div>
					<div class="pure-u-1 pure-u-md-6-24"></div>
			</div>
			<div class="pure-g msg-container hidden">
				<div class="pure-u-1 pure-u-md-6-24"></div>
					<div class="pure-u-1 pure-u-md-1-2">
							<div class="hidden success">
								<h2>
									Thanks! You're number <span class="waitlist-number"></span> on the waitlist. We’ll be
									in touch when the beta is ready.
								</h2>
								<p>
									Your referral link:
								</p>
								<div class="referral-box">
									<input type="text" id="referral-1" class="referral">
									<button class="clipboard-btn" data-clipboard-target="#referral-1">
											<img src="assets/clippy.svg" alt="Copy to clipboard">
									</button>
								</div>
								<div class="social-media-links">
									<a rel="noopener noreferrer" target="_blank"><img src="assets/facebook.png" class="social-media-icon facebook" alt="Share with Facebook"/></a>
									<a rel="noopener noreferrer" target="_blank"><img src="assets/twitter.png" class="social-media-icon twitter" alt="Share with Twitter"/></a>
									<a rel="noopener noreferrer" target="_blank"><img src="assets/reddit.png" class="social-media-icon reddit" alt="Share with Reddit"/></a>									
								</div>
								<p>Climb higher on the waitlist by signing up your friends.</p>
							</div>
							<h2 class="hidden error">
								Uh oh. Looks like there was an error; try again later.
							</h2>
							<div class="hidden already-signed-up">
								<h2>
									You’re already number <span class="waitlist-number"></span> on the waitlist.
								</h2>
								<p>
									Your referral link:
								</p>
								<div class="referral-box">
									<input type="text" id="referral-1" class="referral">
									<button class="clipboard-btn" data-clipboard-target="#referral-1">
											<img src="assets/clippy.svg" alt="Copy to clipboard">
									</button>
								</div>
								<div class="social-media-links">
									<a rel="noopener noreferrer" target="_blank"><img src="assets/facebook.png" class="social-media-icon facebook" alt="Share with Facebook"/></a>
									<a rel="noopener noreferrer" target="_blank"><img src="assets/twitter.png" class="social-media-icon twitter" alt="Share with Twitter"/></a>
									<a rel="noopener noreferrer" target="_blank"><img src="assets/reddit.png" class="social-media-icon reddit" alt="Share with Reddit"/></a>									
								</div>
								<p>Climb higher on the waitlist by signing up your friends.</p>
							</div>
							<h2 class="hidden invalid">
								That’s not a valid email address! Did you make a typo?
							</h2>
					</div>
				<div class="pure-u-1 pure-u-md-6-24"></div>
			</div>
		</form>
		<div class="hero-image-container">
			<img class="hero-image" src="/assets/homepage/hero_image.svg">
		</div>
	</section>

	<section class="features two-col-layout" style="margin-top: 100px;">
		<div class="pure-g" style="margin-top: 40px;">
			<div class="pure-u-1 pure-u-md-3-24"></div>
			<div class="pure-u-1 pure-u-md-9-24 two-col center-text-sm">
				<img class="image-half-col" src="assets/homepage/isometric@3x.png" alt="A city connected by Source"/>
			</div>
			<div class="pure-u-1 pure-u-md-9-24 two-col">
				<h3 class="title-1 center-text-sm">Internet everywhere.<br>Access anywhere. </h3>
				<div class="center-text-sm">
					<img class="spacer-line" src="/assets/homepage/blue_line.svg" alt="" />
				</div>
				<p style="margin-top: 25px;">Our mission at Source is to bring you instant internet access anywhere in the world. We automatically connect you to Source providers, allowing you to connect to the internet automatically without the hassle of passwords.</p>
			</div>
			<div class="pure-u-1 pure-u-md-3-24"></div>
		</div>

		<div class="spacer-div"></div>
	</section>

	<section class="steps-to-use off-white-bg">
		<h2 class="title-1 center-text">It’s so simple to use.</h2>
		<div class="pure-g three-col-container">
			<div class="pure-u-1 pure-u-md-8-24 three-col center-text">
				<div class="img-container">			
					<img src="/assets/homepage/download.svg" alt="A laptop downloading Source" />
				</div>
				<p class="section-header">1. Download the Source app</p>
				<p>No setup required. Just download our software and we’ll provide you with 5 hours of free internet.</p>
			</div>
			<div class="pure-u-1 pure-u-md-8-24 three-col center-text">
				<div class="img-container">
					<img src="/assets/homepage/router.svg" alt="A router" />
				</div>
				<p class="section-header">2. Find a Source provider</p>
				<p>There’s a growing network of Source hotspots around the world, so you never have to worry about being without internet.</p>
			</div>
			<div class="pure-u-1 pure-u-md-8-24 three-col center-text">
				<div class="img-container">			
					<img src="/assets/homepage/time.svg" alt="A clock" />
				</div>
				<p class="section-header">3. Only pay for what you use</p>
				<p>We price at $4 per month, which is 3 times cheaper than existing data plans. You can even get free time by referring a friend.</p>
			</div>
		</div>

		<div class="spacer-div"></div>
	</section>

	<section class="why-source two-col-layout" style="margin-top: 75px;">
		<h2 class="title-1 center-text">Why Source?</h2>
		<div class="pure-g" style="margin-top: 40px;">
			<div id="filler1" class="pure-u-1 pure-u-md-3-24"></div>
			<div id="red" class="pure-u-1 pure-u-md-9-24 two-col two-col-img-container">
				<img src="assets/homepage/loading.svg" src="laptop with sad face because it can’t load pages">
			</div>
			<div id="blue" class="pure-u-1 pure-u-md-9-24 two-col">
				<h3>Forget iffy connections.</h3>
				<div class="center-text-sm spacer-line-container">
					<img class="spacer-line" src="/assets/homepage/blue_line.svg" alt="" />
				</div>
				<p style="margin-top: 25px;">When you hop on an unknown network, the connection always seem to drop. With Source Networks, our provider locations are always super safe, fast, and secure. Never worry about missing that Skype call with a loved one, or watching the latest Netflix show from back home. With Source, it’s like you never left home.</p>
			</div>
			<div id="filler2" class="pure-u-1 pure-u-md-3-24"></div>
		</div>

		<div class="spacer-div" style="height: 40px;"></div>

		<div class="pure-g" style="margin-top: 40px;">
			<div class="pure-u-1 pure-u-md-3-24"></div>
			<div class="pure-u-1 pure-u-md-9-24 two-col two-col-img-container">
				<img src="assets/homepage/cheaper.svg" src="two stacks of blocks, one of which is 3 times higher than the other">
			</div>
			<div class="pure-u-1 pure-u-md-9-24 two-col">
				<h3>We’re 3 times cheaper than cell plans.</h3>
				<div class="center-text-sm spacer-line-container">
					<img class="spacer-line" src="/assets/homepage/blue_line.svg" alt="" />
				</div>
				<p style="margin-top: 25px;">85% of the time you’re using your smartphone’s data plan, you’re actually in range of a WiFi hotspot.. With Source, you never have to worry about overpaying. Whether you’re on your phone or your laptop, we’ll automatically switch you onto the fastest, cheapest network in range.</p>
			</div>
			<div class="pure-u-1 pure-u-md-3-24"></div>
		</div>

		<div class="spacer-div" style="height: 40px;"></div>

		<div class="pure-g" style="margin-top: 40px; margin-bottom: 100px;">
			<div id="filler1" class="pure-u-1 pure-u-md-3-24"></div>
			<div id="red" class="pure-u-1 pure-u-md-9-24 two-col two-col-img-container">
				<img src="assets/homepage/peace_of_mind.svg" src="A happy earth with several Souce WiFi locations marked by flags">
			</div>
			<div id="blue" class="pure-u-1 pure-u-md-9-24 two-col">
				<h3>Peace of mind when traveling.</h3>
				<div class="center-text-sm spacer-line-container">
					<img class="spacer-line" src="/assets/homepage/blue_line.svg" alt="" />
				</div>
				<p style="margin-top: 25px;">With Source, and our growing network of WiFi hotspots around the world, you never have to worry about being without internet. Even if we don’t have a Source Provider close by, our smartphone app can direct you to the nearest free WiFi hotspot.</p>
			</div>
			<div id="filler2" class="pure-u-1 pure-u-md-3-24"></div>
		</div>
	</section>

	<section class="become-a-provider">
		<div class="pure-g">
			<div id="filler1" class="pure-u-1 pure-u-md-4-24"></div>
			<div id="red" class="pure-u-1 pure-u-md-10-24">
				<div class="img-container">
					<img src="assets/homepage/host_router.svg" src="A happy earth with several Souce WiFi locations marked by flags">
				</div>
			</div>
			<div id="blue" class="pure-u-1 pure-u-md-10-24">
				<h2 class="title-2">Interested in cutting your own internet bills and becoming a provider?</h2>
				<h3>Get paid to share your WiFi.</h3>
				<a href="/providing" class="button blue-button">Learn more about hosting</a>
			</div>
		</div>
	</section>
	<%- include('partials/footer', { background: 'off-white' }) %>
	<!-- scripts -->
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1880728315496038',
				version    : 'v2.8'
			});
			FB.AppEvents.logPageView();
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<script src="/js/lib/jquery-slim.js" type="text/javascript"></script>
	<script src="https://waitlisted.co/assets/api.js"></script>
	<script src="/js/lib/clipboard.min.js" type="text/javascript"></script>
	<script src="/js/lib/html5tooltips.js" type="text/javascript"></script>
	<script src="/js/menubar.js" type="text/javascript"></script>
	<script src="/js/doClipboard.js" type="text/javascript"></script>
	<script src="/js/handleWaitlisting.js" type="text/javascript"></script>
</body>
